<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{currency}}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<style>
			main{
				margin-bottom: 0;
			}
			body,th,td{
				color:#f0f0f0;
			}
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
				font-size: 3.5rem;
				}
			}
		</style>
		<script text="javascript">
			function timeRefresh(time) {
				setTimeout("document.location.reload(true);", time);
			}
		</script>
	</head>
	<body onLoad="timeRefresh(12000);">
  
		<header style="background-color: #212121" class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Bot</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<h1 class="h2">Debug : {{config.DEBUG}}</h1>
			<h2> Last price : {{ last_price }}</h2>
			<div class="btn-toolbar mb-2 mb-md-0">
			<p type="button" class="btn btn-sm btn-outline-secondary">
				{{pair}}
			</p>
			</div>
		  </header>
		  
		  <div class="container-fluid">
			<div class="row">
		  
			  <main style="background-color: #282828" class="p-5">
				
				<img class="w-100" id="myChart" width="800" height="680" src="data:image/png;base64,{{dat}}"/>
				<h2>Sell Order(s)</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
					<thead>
						<tr>
						<th scope="col">#</th>
						<th scope="col">Date</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
						{% for x in range(order_l) %}
							<tr>
								<td>{{x+1}}</td>
								<td>{{order['Date'].get(x)}}</td>
								<td>{{order['Price'].get(x)}}</td>
								<td>{{order['Quantity'].get(x)}}</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				<h2>Trade(s)</h2>
				<div class="table-responsive">
				  <table class="table table-striped table-sm">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Date</th>
						<th scope="col">Order Type</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
					  </tr>
					</thead>
					<tbody>
					{% for x in range(trade_l) %}
						<tr>
							<td>{{x+1}}</td>
							<td>{{trade['Date'].get(x)}}</td>
							<td>{{trade['Type'].get(x)}}</td>
							<td>{{trade['Price'].get(x)}}</td>
							<td>{{trade['Quantity'].get(x)}}</td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>
				</div>	
				<h2>Gain(s)</h2>
				<div class="table-responsive">
				  <table class="table table-striped table-sm">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Amount {{config.PAIR_S}}</th>
					  </tr>
					</thead>
					<tbody>
					{% for x in range(gain_l) %}
						<tr>
							<td>{{x+1}}</td>
							<td>{{gain[x]}}</td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>
				</div>
				<h2>Estimated fee(s)</h2>
				<div class="table-responsive">
				  <table class="table table-striped table-sm">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Price</th>
					  </tr>
					</thead>
					<tbody>
					{% for x in range(fee_l) %}
						<tr>
							<td>{{x+1}}</td>
							<td>{{fee[x]}}</td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>
				</div>
				<h1>disclaimer</h1>
				<div class="d-flex justify-content-between">
					<p>The Content is for informational purposes only, you should not construe any such information or other material as legal, tax, investment, financial, or other advice. Nothing contained on our Site constitutes a solicitation, recommendation, endorsement, or offer by this website or any third party service provider to buy or sell any securities or other financial instruments in this or in in any other jurisdiction in which such solicitation or offer would be unlawful under the securities laws of such jurisdiction.</p>
					<p>There are risks associated with investing in securities. Investing in stocks, bonds, exchange traded funds, mutual funds, and money market funds involve risk of loss.  Loss of principal is possible. Some high risk investments may use leverage, which will accentuate gains & losses. Foreign investing involves special risks, including a greater volatility and political, economic and currency risks and differences in accounting methods.  A security’s or a firm’s past investment performance is not a guarantee or predictor of future investment performance.</p>
				</div>
			</main>
			</div>
	<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
</body>