<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{currency}}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<meta name="theme-color" content="#7952b3">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
				font-size: 3.5rem;
				}
			}
		</style>
	</head>
	<body>

		<img class="my-2 w-100" id="myChart" width="900" height="550" src="data:image/png;base64,{{dat}}"/>

		
		<h2>Trade(s)</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
			<thead>
				<tr>
				<th scope="col">#</th>
				<th scope="col">Date</th>
				<th scope="col">Order Type</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
				</tr>
			</thead>
			<tbody>
				{% for x in range(trade_l) %}
					<tr>
						<td>{{x+1}}</td>
						<td>{{trade['Date'].get(x)}}</td>
						<td>{{trade['Type'].get(x)}}</td>
						<td>{{trade['Price'].get(x)}}</td>
						<td>{{trade['Quantity'].get(x)}}</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>

</body>